@charset "utf-8";
/* CSS Document */
html, body, ul, ol, div, h1, h2, h3, h4, p,li {margin: 0;padding: 0;border: 0 none;cursor:default;}
a{cursor:pointer;outline: none;}
a:hover{
	text-decoration: none;
}
html, body{
	height: auto;
	min-width: 1000px;
}

.btn{ display: inline-block; font-size: 0; line-height: 0; overflow: hidden;}

/*顶部底部*/
body{ padding-top: 45px;}
#logo-btn{margin-top: 4px;display: inline-block;*display: inline;zoom: 1;width: 133px;height: 38px;background: url(../img/header/logo.png) 0 0 no-repeat;}
#tq{display: inline-block;*display: inline;zoom: 1;width: 253px;height: 37px;margin-left: 15px;background: url(../img/header/tq.png) 0 0 no-repeat;}
#header-qb{position:absolute;right:0;display: inline-block;*display: inline;zoom: 1;width: 105px;height: 31px;vertical-align: top;margin-top: 6px;background: url(../img/header/download.png) 0 0 no-repeat;}
.mod_gst{background: #424041;width: 100%;position: fixed; top: 0; z-index: 100;min-width: 800px;}
.mod_gst_main{min-width: 800px;max-width: 1002px;width: auto;}
.mod_gst_main .mod_gst_userinfo{font-size:14px;color:#FFFFFF;line-height: 20px;top: 13px;}
.mod_gst_main .mod_gst_userinfo .user_nick{width:160px;color: #ffffff;}
.mod_gst a{color:#48adff;}
.mod_copyright{padding-bottom: 70px; padding-top: 50px; background-color: #000;}
.mod_copyright p {color: #fff;line-height: 20px;}
.mod_copyright p a {color: #fff;}

/*邀请好友弹窗*/
.mod_pop_mask{z-index: 2000;}
.friend_pop{display: none; width:935px; height:560px; z-index: 2001;  position: fixed; _position: absolute;  left:50%; margin-left:-410px; top:50%;margin-top: -280px; zoom: 1; _top: expression(eval(document.documentElement.scrollTop)+120);}
.friend_info{ width:900px;  height:100%; overflow:hidden; position:relative;}
.friend_in{ width:900px; height:100%; background:#efefef; color:#656565; }
.friend_close {width: 35px; height: 35px; position: absolute; top: 0; right: 0; background: url(../img/close.jpg) no-repeat;}

/*右侧浮动导航*/
#menu{ position: absolute; top: 570px; right: 50%; margin-right: -700px;}
#rightNav{ width: 160px; height: 210px; background: url(../images/menu.png) no-repeat 0 0; padding-top: 140px; padding-left: 65px;}
#rightNav li{height: 30px; line-height: 30px; padding-right: 13px;}
#rightNav li a{ display: inline-block; width: 100%; height: 30px; color: #0c69b9; font-size: 20px; font-weight: bold; text-align: center;}
#rightNav li a:hover ,#rightNav li.active a{ color: #ff3a56;}
#rightNav .slide_1{ height: 26px; padding-bottom: 8px; overflow: hidden;}
#rightNav .slide_1 a{ height: 26px;}

/*主体*/
.container{ font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; width: 1000px; margin: 0 auto; position: relative;}

.middle_1{ height: 655px; background: url(../images/middle_1.png) no-repeat center top;}
.middle_1 .container{ height: 655px; background: url(../images/middle_1_c.jpg) no-repeat center top;}
.banner_btn{ position: absolute; bottom: 18px; left: 170px; z-index: 10;}
.banner_btn .Bbtns{ display: inline-block; width: 189px; height: 100px; margin-right: 20px; padding-top: 10px; padding-left: 6px;}
.banner_btn .Bbtns a{ width: 183px; height: 64px;}
.banner_btn .btn_topGame{ background: url(../images/btn-topGame.png) no-repeat 0 0;}
.banner_btn .btn_topQB{ background: url(../images/btn-topQB.png) no-repeat 0 0;}
.banner_btn .btn_topFuli{ background: url(../images/btn-topFuli.png) no-repeat 0 0;}
.banner_btn .Bbtns.hover{ background-position: 0 -110px;}
.cdkey{ position: absolute; bottom: 0; left: 175px; z-index: 11;}
.cdkey a{ color: #067bff; font-size: 18px;}
.cdkey a:hover{ text-decoration: underline;}

.middle_2{ height: 700px; background: url(../images/middle_2.jpg) no-repeat center top;}
.middle_2 .container{ height: 700px;}
.middle_2 .tips{ padding-top: 114px; height: 30px; background: url(../images/middle_2_text.png) no-repeat center 114px;}
.middle_2 .gift{ height: 355px; background: url(../images/middle_2_gift.png) no-repeat center top;}
.exchange{ position: absolute; left: 50%; bottom: 130px; margin-left: -81px; width: 163px; height: 69px; background: url(../images/btn-exchange.png) no-repeat 0 0;}
.exchange:hover{ background-position: 0 -70px;}

.middle_3{ height: 730px; background: url(../images/middle_3.jpg) no-repeat center top;}
.middle_3 .container{ height: 730px;}
.middle_3 .tips{ padding-top: 122px; height: 30px; background: url(../images/middle_3_text.png) no-repeat center 122px;}
.middle_3 .gift{ height: 355px; background: url(../images/middle_3_gift.png) no-repeat center top;}
.middle_3 .exchange{ bottom: 165px; background: url(../images/btn-exchange.png) no-repeat 0 0;}
.middle_3 .exchange:hover{ background-position: 0 -70px;}

.middle_4{ height: 1140px; background: url(../images/middle_4.jpg) no-repeat center top;}
.middle_4 .container{ height: 1140px;}
.middle_4 .tips{ padding-top: 155px; height: 70px; background: url(../images/middle_4_text.png) no-repeat center 155px;}
.m4_btn{ padding-top: 10px; text-align: center;}
.m4_btn a{ display: inline-block; width: 259px; height: 66px;}
.invite{ background: url(../images/btn-sendQQ.png) no-repeat 0 0; margin-right: 60px;}
.shareQZ{ background: url(../images/btn-shareQZ.png) no-repeat 0 0;}
.m4_btn a:hover{ background-position: 0 -66px;}
#lucky-box-container{ width: 820px; height: 640px; margin: 0 auto; position: relative; top: -15px;}
.lucky-box{ position: absolute; z-index: 1;}
.lucky-box .lucky_show{ position: absolute; top: 50%; left: 50%; margin-top: -155px; margin-left: -194px; display: none; width: 309px; height: 177px; padding: 55px; background: url(../images/lucky_gifts_bg.png) no-repeat 0 0;}
.lucky-box .lucky_show img{ position: absolute; top: 55px; left: 55px;}
.lucky-box .lucky_show em{ position: absolute; bottom: 65px; left: 0; display: inline-block; width: 100%; text-align: center; font-size: 15px; color: #004782; line-height: 20px; font-style: normal;}
#lucky-box-0{ left: 10px; top: 0; width: 200px; height: 335px; background: url(../images/lucky_0.png) no-repeat 0 0;}
#lucky-box-0.active{ background-position: 0 -335px; z-index: 10;}
#lucky-box-1{ left: 280px; top: 7px; width: 280px; height: 375px; background: url(../images/lucky_1.png) no-repeat 0 0;}
#lucky-box-1.active{ background-position: 0 -375px; z-index: 10;}
#lucky-box-2{ right: 26px; top: 83px; width: 200px; height: 285px; background: url(../images/lucky_2.png) no-repeat 0 0;}
#lucky-box-2.active{ background-position: 0 -285px; z-index: 10;}
#lucky-box-3{ right: 0; bottom: 65px; width: 160px; height: 160px; background: url(../images/lucky_6.png) no-repeat 0 0;}
#lucky-box-3.active{ background-position: 0 -160px; z-index: 10;}
#lucky-box-4{ left: 435px; bottom: 25px; width: 185px; height: 315px; background: url(../images/lucky_5.png) no-repeat 0 0;}
#lucky-box-4.active{ background-position: 0 -315px; z-index: 10;}
#lucky-box-5{ left: 200px; bottom: 14px; width: 205px; height: 330px; background: url(../images/lucky_4.png) no-repeat 0 0;}
#lucky-box-5.active{ background-position: 0 -330px; z-index: 10;}
#lucky-box-6{ left: 0; bottom: 0; width: 180px; height: 275px; background: url(../images/lucky_3.png) no-repeat 0 0;}
#lucky-box-6.active{ background-position: 0 -275px; z-index: 10;}
.getLucky{ display: block; position: absolute; left: 50%; bottom: 135px; margin-left: -115px; width: 231px; height: 80px; background: url(../images/btn-getLucky.png) no-repeat 0 0;}
.getLucky:hover{ background-position: 0 -80px;}

.middle_5{ height: 165px; padding-top: 110px; background: url(../images/middle_5.jpg) no-repeat center top;}
.middle_5 .container{ height: 165px;}
.middle_5 .rule{ font-size: 22px; color: #004a89; padding-left: 115px; font-weight: bold;}
.middle_5 a{ text-decoration: underline; color: #004a89;}
.middle_5 a:hover{ color: #ff3a56;}





















