@charset "utf-8";
body,div,h1,h2,h3,h4,html,ol,p,ul{margin:0;padding:0;border:0 none;cursor:default}
html{background:#fff}
ol,ul{list-style:none}
a{cursor: pointer;*blr:expression(this.onFocus=this.blur());}
a,a:after{outline:0}
table{border-collapse:collapse;border-spacing:0}
body{padding:0;height: auto;font:12px "Microsoft Yahei",Helvetica,Arial,SimSun,sans-serif;color: #333;background: #80786A;min-width: 1100px;line-height: 24px;}
img,input{border:0 none}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both}
* html .clearfix,:first-child+html .clearfix{zoom:1;}
em{ font-style: normal;}

.btn{ display: inline-block; font-size: 0; line-height: 0; overflow: hidden;}

/*顶部底部*/
body{ padding-top: 45px;background: #0F0A0E;}
#logo-btn{margin-top: 4px;display: inline-block;*display: inline;zoom: 1;width: 133px;height: 38px;background: url(../img/header/logo.png) 0 0 no-repeat;}
#tq{display: inline-block;*display: inline;zoom: 1;width: 253px;height: 37px;margin-left: 15px;background: url(../img/header/tq.png) 0 0 no-repeat;}
#header-qb{position:absolute;right:0;display: inline-block;*display: inline;zoom: 1;width: 105px;height: 31px;vertical-align: top;margin-top: 6px;background: url(../img/header/download.png) 0 0 no-repeat;}
.mod_gst{background: #424041;width: 100%;position: fixed; top: 0; z-index: 100;min-width: 800px;}
.mod_gst_main{min-width: 800px;max-width: 1002px;width: auto;}
.mod_gst_main .mod_gst_userinfo{font-size:14px;color:#FFFFFF;line-height: 20px;top: 13px;}
.mod_gst_main .mod_gst_userinfo .user_nick{width:160px;color: #ffffff;}
.user_nick em{ font-style: normal;}
.mod_gst a{ color:#48adff; }
.mod_copyright2{ padding-bottom: 70px; padding-top: 50px; background-color: #000; text-align: center; }
.mod_copyright2 p { color: #fff; line-height: 20px; }
.mod_copyright2 p a { color: #fff; }

/*弹出框样式*/
.popBg{background: #000\9; opacity: 0.7\9; filter: alpha(opacity=70)\9; background-color: rgba(0,0,0,0.7); position: fixed;top:0;left:0;z-index: 10000 ;width: 100%;height: 100%;}
.popMsg{display: block;position:fixed;top:50%;left:50%;z-index:10000; margin-top:-140px;margin-left:-305px;width: 610px;min-height: 250px; background-color: #331a0b; opacity:0.9\9; filter: alpha(opacity=90)\9;background-color: #001720\9; border: 1px solid #c25c18; font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;}
.popTop{height: 0; overflow: hidden;}
.popWrap{padding: 58px 20px 45px;/* background: url(../images/pop_bg.png) no-repeat right 0; */}
.popBottom{height: 0; overflow: hidden;}
.popClose{display: block;position: absolute;right: 10px;top: 10px;z-index: 10;width: 16px;height: 15px;font-size: 0;line-height: 0;overflow: hidden;cursor:pointer;background: url(../images/pop_close.png) no-repeat 0 0;transition: transform 1s ease-out;}
.popClose:hover{transform: rotate(270deg);}
.popContTit{ position: absolute; top: 0; left: 0; z-index: 9; width: 100%; height: 38px; line-height: 38px; background: #d47930; font-size: 16px; text-indent: 20px; text-align: left; filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#d47930', endColorstr = '#c25b18'); -ms-filter: "progid: DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#d47930', endColorstr = '#c25b18')"; background-image: -moz-linear-gradient(left, #d47930, #c25b18); background-image: -ms-linear-gradient(left, #d47930, #c25b18); background-image: -o-linear-gradient(left, #d47930, #c25b18); background-image: -webkit-gradient(linear, left top, right top, from(#d47930), to(#c25b18)); background-image: -webkit-linear-gradient(left, #d47930, #c25b18); background-image: linear-gradient(left, #d47930, #c25b18); color: #fff; }
.popContainer{font-size: 16px;color: #fff; height: 100%;text-align: center;}
.popWarn .contentBox{ text-align: left; padding-top: 40px; padding-left: 170px; min-height: 80px;}
.popWarn .popConCenter{ text-align:center; padding-left:0px;}
.contentGifts{ width: 100%; margin: 0 auto; text-align: left;}
.gifts_title{ position: relative; height: 65px;font-size: 24px;color: #fdeebf; line-height:35px;text-shadow: 0 0 1px #000;}
.gifts_title p.tit{ text-indent:-10px;}
.giftsExplain{ margin-top:20px;color: #e18337;}
.giftsCode{ float:left; width: 130px; text-align:center;font-size: 12px;padding-top: 40px;}
.giftsCode img{ margin-bottom:5px;}
.giftsCdkey{ padding-top: 5px; padding-bottom: 18px; font-size: 16px; border-bottom: 1px solid #71400E; margin-bottom: 18px; color: #e18337; }
.giftsTips{ font-size: 12px; color: ##e18337; line-height: 20px;}
.giftsTips span{ float:left;}
.giftsTips em{ display:inline-block; width:550px;}
.giftsTips .rule_tips{text-indent: 54px;}
.giftsTips_half{ font-size: 12px; color: #e18337; line-height: 20px;margin-left: 146px;}
.giftsTips_half span{float:left;}
.giftsTips_half em{ display: inline-block;width: 390px;}
.popList{ }
.popWarn .txtCenter{ padding-left: 0; text-align: center;}
.timeTips .msg{ color: #dff7ff; font-size: 22px;margin-bottom: 14px;}
.noGifts{ padding-top:70px; text-align: center; }
.giftsList li{list-style: none; line-height: 35px;}
.giftsList li .giftsTime{ display: inline-block; width: 100px;}
.giftsList li a{ color: #ff8400; font-size: 14px;}
.giftsList li a:hover{ text-decoration: underline;}
.giftsList .cdkey{ margin-left: 10px;}
.P_btns{ padding-top: 20px; }
.P_btns .btn{ height: 41px;}
.P_btns .btn:hover{ background-position: 0 -42px;}
.btn_downloadQB{ width: 141px; background: url(../images/btn_downloadQB.png) no-repeat 0 0;}
.btn_downloadQB2{ width: 170px; background: url(../images/btn_downloadQB2.png) no-repeat 0 0;}
.btn_pop{ width: 100px; background: url(../images/btn_pop.png) no-repeat 0 0;}

/*主体*/
.container{ font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; width: 1100px; height: 100%; margin: 0 auto; position: relative;}

.middle_1{height: 614px; background: url(../images/middle_1.jpg) no-repeat center top;}
.time_block{ position: absolute;top: 394px;left: 631px;width: 404px; height:308px;}
.time{color: #fff;  font-size: 16px; text-align: center;line-height: 24px;}
.time_block .btns{width: 232px;height: 90px; margin: 20px auto 0;}
#btn_rob{ display: block;width: 232px;height: 90px; background: url(../images/btn_getLucky.png) no-repeat 0 0;}
#btn_rob:hover{ background-position: 0 -90px;}
#btn_rob:active{ background-position: 0 -180px; }
#btn_rob.disabled{ background-position: 0 -270px; cursor: default;} 
.links{margin-top: 10px;padding-left: 95px;}
a.btn_queryGift{color: #fff;  font-size: 16px; text-align: center; text-decoration: underline;line-height:24px;height: 24px;vertical-align: middle;}
a.btn_queryGift:hover{ color: #ffdf31; }
.btn_share{ float: left;background: url(../images/btn_share.png) no-repeat center 0; width:99px; height:24px;margin: 1px 48px 0 0;}
.btn_share:hover{ background-position:0 -28px;}


.middle_2{height: 577px; background: url(../images/middle_2.jpg) no-repeat center top;}
.premiere{ position:absolute;top: 369px;left: 53px; font-size: 16px; line-height:24px;color: #fffbc9;}
.btn_register{ position:absolute;top: 287px;left: 453px; display:block; width: 212px;height: 81px;background: url(../images/btn_register.png) no-repeat 0 0; font-size:0;}
.btn_register:hover{ background-position:0 -81px;}
.btn_register:active{ background-position:0 -162px; }
.code{ position: absolute;top: 202px;left: 892px; width: 158px; text-align: center;color: #fffabe; line-height: 18px;}
.code img{ margin-bottom:5px}

.middle_3{height: 550px; background: url(../images/middle_3.jpg) no-repeat center top;}
.recommend_box{ position:absolute;top: 106px;left: 67px; color:#333; font-size:14px;}
.recommend_box a{ font-size:0;color:#333; text-decoration: none; display:block; background-color:#fff; width: 178px; height: 272px; overflow: hidden;text-align:center; display:inline-block;margin-right: 15px; border-radius: 2px; -webkit-border-radius: 2px;}
.recommend_box img{ cursor:pointer; width: 178px; height: 238px; -webkit-filter: brightness(0.7); -moz-filter: brightness(0.7); -ms-filter: brightness(0.7); -o-filter: brightness(0.7); filter: brightness(0.7); -webkit-transition: -webkit-filter .2s ease-out; -moz-transition: -webkit-filter .2s ease-out; -ms-transition: -webkit-filter .2s ease-out; -o-transition: -webkit-filter .2s ease-out; transition: -webkit-filter .2s ease-out; }
.recommend_box a:hover img{ -webkit-filter: brightness(1); -moz-filter: brightness(1); -ms-filter: brightness(1); -o-filter: brightness(1); filter: brightness(1); }
.recommend_box p{ font-size:14px;height: 34px; line-height: 34px; color: #fff; background-color: #dd8c00; cursor:pointer; filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#dd8c00', endColorstr = '#d96600'); -ms-filter: "progid: DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#dd8c00', endColorstr = '#d96600')"; background-image: -moz-linear-gradient(left, #dd8c00, #d96600); background-image: -ms-linear-gradient(left, #dd8c00, #d96600); background-image: -o-linear-gradient(left, #dd8c00, #d96600); background-image: -webkit-gradient(linear, left top, right top, from(#dd8c00), to(#d96600)); background-image: -webkit-linear-gradient(left, #dd8c00, #d96600); background-image: linear-gradient(left, #dd8c00, #d96600);}
.recommend_box p.recommend_pic{ width: 178px;height: 238px; overflow: hidden;}
.btn_more{ display: block; position: absolute;bottom: 70px; left:50%; margin-left: -145px;  background: url(../images/btn_more.png) no-repeat center top; width: 290px; height: 45px;}
.btn_more:hover{ background-position: 0 -45px;}

.middle_4{height: 343px; background: url(../images/middle_4.jpg) no-repeat center top;}
.rule{ position:absolute;top: 185px;left: 50px;  width: 386px; font-size:14px; color: #fff6b7; line-height:30px;}